// Alchemy colors
$alchemy-blue = #214166
$alchemy-orange = #d8741c
$alchemy-light-gray = #f7f7f7
$alchemy-medium-gray = #efefef
$alchemy-dark-gray = rgb(51, 59, 81)
$alchemy-transparent-dark-gray = rgba(51, 59, 81, 0.8)
$alchemy-border-color = rgba(#afafaf, 0.5)
