@require './alchemy-colors'

// colors
$accentColor = $alchemy-orange
$textColor = $alchemy-transparent-dark-gray
$borderColor = $alchemy-border-color
$arrowBgColor = $alchemy-transparent-dark-gray

$codeLang = js html md vue css sass scss sh yaml erb
