<h2>Alchemy is not a common CMS.</h2>

<p>Alchemy actually is a CMS framework. It enables you to build your own CMS.</p>

<p>The name speaks for itself: Alchemy is a kind of chemical construction kit for developers who want to build professional web-applications in a short time frame.</p>

<p>Content managers are enthusiastic about Alchemy CMS because of its clear and powerful user interface, which is easy to use and intuitive to learn.</p>

<h2>Learn to work with Alchemy CMS</h2>

<p>We <strong>highly recommend</strong> reading the following "first steps" guides to learn about Ruby, Rails and the <a href="architecture.html">architecture of Alchemy's powerful content storage system</a>.</p>

<%= render "full_index", :guides => Guides.meta["index"] %>
