<h2>Alchemy is not a common CMS.</h2>

<p>Alchemy is rather a CMS framework. It enables you to build your own CMS.</p>

<p>The name is program: Alchemy CMS is a kind of chemical construction kit for developers that want to build professional web-applications in a very short time.</p>

<p>Also content managers are enthusiastic about Alchemy CMS because of its clear and powerful user interface that is very easy to use and intuitive to learn.</p>

<h2>Learn to work with Alchemy</h2>

<p>We <strong>highly recommend</strong> to read the following first steps guides to learn about Ruby, Rails and the <a href="/architecture.html">archtitecture of Alchemy's powerful content storage system</a>.</p>

<%= render "full_index", :guides => Guides.meta["index"] %>
